.map-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 3;

  width: 960px;
  height: 559px;
  margin-top: -280px;
  margin-left: -480px;

  box-shadow: 0 10px 20px rgba(4, 6, 6, 0.2);

  &--hidden {
    display: none;
  }
}

.map-popup__wrap {
  height: 559px;
}

.map-popup__button-close {
  position: absolute;
  top: 50px;
  right: 22px;
}

.map-popup .map-popup__hint {
  font-weight: 800;
  color: #d95548;
}
