.write-us {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 3;

  display: block;
  width: 960px;
  margin-left: -480px;
  margin-top: -275px;

  background-color: $white;
  box-shadow: 0 10px 20px rgba(4, 6, 6, 0.2)
}

.write-us--hidden {
  display: none;
}

.write-us__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, auto);
  width: 760px;
  margin: 0 auto;
  padding: 0;
  padding-top: 90px;
  padding-bottom: 80px;

  list-style: none;
}

.write-us__item {
  &--name {
    width: 360px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  &--email {
    width: 360px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: end;
  }

  &--message {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-top: 35px;
  }

  &--submit {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    margin-top: 30px;
  }
}

.write-us__input, .write-us__textarea {
  margin-top: 10px;
}

.write-us__textarea {
  height: 156px;
}

.write-us__button-close {
  position: absolute;
  top: 22px;
  right: 22px;
}
