.button-close {
  width: 55px;
  height: 55px;
  border: none;
  background-color: transparent;
  background-image: url('../img/modal-close.svg');
  background-position: 0 0;
  background-repeat: no-repeat;

  opacity: 0.5;
  cursor: pointer;

  &:hover, &:focus {
    opacity: 1;
    outline: none;
  }

  &:active {
    opacity: 0.3;
  }
}
