.button-search {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.15px;

  padding-top: 10px;
  padding-bottom: 7px;
  padding-left: 19px;
  padding-right: 19px;

  background-color: transparent;
  border: 2px solid $black;

  cursor: pointer;

  &:hover, &:focus {
    color: $white;
    background-color: $black;
  }

  &:active {
    outline: none;
    color: rgba($white, 0.3);
  }
}
