.page-main {
  display: grid;
  grid-template-columns: auto 580px 580px auto;
  grid-template-rows: auto auto auto auto auto;
  width: 1445px;
  margin: 0 auto;
}

.page-main__slider, .page-main__popular, .page-main__logotypes {
  grid-column-start: 2;
  grid-column-end: 4;
}

.page-main__slider {
  grid-row-start: 1;
  grid-row-end: 2;
}

.page-main__popular {
  grid-row-start: 2;
  grid-row-end: 3;
}

.page-main__services {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
  justify-self: center;
}

.page-main__logotypes {
  grid-row-start: 4;
  grid-row-end: 5;
}

.page-main__about-us {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;
}

.page-main__contacts {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 6;
}
