.services__wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  width: 1160px;
}

.services__tabs-wrap {
  grid-column-start: 1;
  grid-column-end: 2;
}

.services__list-wrap {
  grid-column-start: 2;
  grid-column-end: 5;
}

.services__tabs {
  list-style: none;
}

.services__list {
  list-style: none;
}

.services__item {
  display: none;

  &--show {
    display: block;
  }
}

.services__subtitle {
  letter-spacing: 0.6px;
}

.services__text {
  letter-spacing: 0.25px;
}
