.main-nav .main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__list .main-nav__link {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  color: rgba($black, 1);

  cursor: pointer;

  &:hover, &:focus {
    color: rgba($black, 0.6);
  }

  &:active {
    color: rgba($black, 0.3);
  }
}
.main-nav .main-nav__list--pages {
  display: flex;
  justify-content: flex-end;
}

.main-nav__list--pages > .main-nav__item {
  margin-left: 38px;

  &:first-child {
    margin-left: 0;
    margin-right: auto;
  }

  &:last-child {
    margin-left: 100px;
  }
}

.main-nav__list--pages > .main-nav__item > .main-nav__link {
  text-transform: uppercase;
}

.main-nav__item--menu {
  &:hover .main-nav__list--catalog {
    display: grid;
  }
}

.main-nav__list--pages > .main-nav__item--menu > .main-nav__link {
  position: relative;
  padding-right: 30px;

  &:before {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 2;

    display: block;
    width: 16px;
    height: 16px;
    margin-top: -8px;

    background-image: url('/img/plus.svg');
    background-position: 0 0;
    background-repeat: no-repeat;

    content: '';
    opacity: 0.3;
  }
}

.main-nav .main-nav__list--catalog {
  position: absolute;
  left: 0;
  z-index: 2;

  display: none;
  grid-template-columns: 240px repeat(2, 200px);
  grid-template-rows: repeat(3, auto);
  box-sizing: border-box;
  width: 100%;
  padding-top: 20px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 30px;
  background-color: $light-orange;
}

.main-nav__list--catalog > .main-nav__item {

  &:nth-child(1), &:nth-child(2) {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  &:nth-child(3) {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  &:nth-child(4) {
    grid-column-start: 2;
    grid-column-end: 3;
  }

  &:nth-child(5) {
    grid-column-start: 2;
    grid-column-end: 4;
  }

  &:nth-child(6) {
    grid-column-start: 3;
    grid-column-end: 4;
  }

  &:nth-child(1), &:nth-child(4), &:nth-child(6) {
    grid-row-start: 1;
    grid-row-end: 2;
  }

  &:nth-child(2), &:nth-child(5) {
    grid-row-start: 2;
    grid-row-end: 3;
  }

  &:nth-child(3) {
    grid-row-start: 3;
    grid-row-end: 4;
  }
}


.main-nav__list--catalog .main-nav__link {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0.15px;
}

.main-nav--bottom .main-nav__list {
  display: flex;
}

.main-nav--bottom .main-nav__item {
  margin-right: 35px;
}

.main-nav--bottom .main-nav__link {
  color: $white;
  text-transform: uppercase;
}
