.main-nav__list {
  list-style: none;
}

.main-nav__list .main-nav__link {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  color: $black;

  cursor: pointer;

  &:hover, &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__list:not(.main-nav__list--catalog) .main-nav__link {
  text-transform: uppercase;
}

.main-nav__list--catalog .main-nav__link {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0.15px;
}

.main-nav--bottom .main-nav__link {
  color: $white;
}
