.main-nav__list {
  list-style: none;
}

.main-nav__list .main-nav__link {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: normal;
  text-transform: uppercase;
  color: $black;

  cursor: pointer;

  &:hover, &:focus {
    outline: none;
    opacity: 0.6;
  }

  &:active {
    outline: none;
    opacity: 0.3;
  }
}

.main-nav__list--catalog .main-nav__link {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0.15px;
  text-transform: capitalize;
}
