.social-list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.social-list__item {
  margin-right: 23px;
}

.social-list__link {
  opacity: 0.3;

  &:hover, &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.1;
  }
}
