.user-list {
  list-style: none;
}

.user-list__item .user-list__link {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.15px;
  color: $black;

  &:hover, &:focus {
    outline: none;
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
} 

.user-list__item--logout .user-list__link {
  opacity: 0.3;

  &:hover, &:focus {
    outline: none;
    opacity: 1;
  }

  &:active {
    opacity: 0.6;
  }
}
