.user-list {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  list-style: none;
}

.user-list__item {
  &--account {
    margin-right: 20px;
  }

  &--compare {
    margin-left: auto;
    margin-right: 40px;
  }

  &--auth svg, &--account svg {
    margin-right: 10px;
  } 

  &--compare svg {
    margin-right: 10px;
  }

  &--cart svg {
    margin-right: 7px;
  }
}

.user-list__item .user-list__link {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.15px;
  color: $black;

  &:hover, &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
} 

.user-list__item--logout .user-list__link {
  opacity: 0.3;

  &:hover, &:focus {
    opacity: 1;
  }

  &:active {
    opacity: 0.6;
  }
}

.user-list--bottom .user-list__link {
  color: rgba($white, 0.7);

  & svg {
    fill: rgba($light-yellow, 1);
  }

  &:hover, &:focus {
    & span {
      opacity: 1;
      color: rgba($white, 1);
    }

    & svg {
      fill: rgba($light-yellow, 0.6);
    }
  }

  &:active {
    & span {
      opacity: 1;
      color: rgba($white, 0.3);
    }

    & svg {
      fill: rgba($light-yellow, 0.3);
    }
  }
}

.user-list--bottom .user-list__item {
  &--auth {
    margin-right: 40px;
  }
  
  &--logout {
    margin-right: 40px;
  }
}

.user-list__item--hidden {
  display: none;
}
