.input {

  &, &::placeholder {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif; 
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: rgba($dark, 0.4);
  }

  &:focus, &:focus::placeholder {
    color: rgba($dark, 1);
  }

  &:invalid {
    color: rgba($dark, 0.4);
  }


  &--search {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 9px;
    padding-left: 40px;
    padding-right: 95px;
    border: none;

    font-size: 15px; 
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.15px;

    &::placeholder {
      opacity: 0.3;
    }

    &:hover::placeholder {
      opacity: 0.6;
    }

    &:focus::placeholder {
      opacity: 1;
    }

    &:focus, &:active {
      border: none;
      border-bottom: 2px solid $black;
    }
  }
}
