.search {
  width: 441px;
  position: relative;
}

.search__label {
  position: absolute;
  top: 17px;
  left: 4px;
}

.search__button {
  position: absolute;
  top: 0;
  right: 0;

  display: none;
}

.search__input:focus + .search__button {
  display: block;
}
