$desktop-width: 1440px;

$resolution-dppx-2x: 1.25dppx;
$resolution-dppx-3x: 2.25dppx;
$resolution-dpi-2x: 120dpi;
$resolution-dpi-3x: 216dpi;

$colors: (
  black: #000000, 
  dark: #464646,
  yellow: #f0c52e,
  light-yellow: #ffc600,
  light-orange: #f7e296,
  super-light-orange: #f7e184, 
  green: #91c92f,
  pink: #cd3944,
  light-pink: #edb5b5,
  red: #db0100, 
  light-red: #ff0000,
  gray: #a6a6a6,
  silver: #dbdbdb,
  light-silver: #e5e5e5,
  super-light-silver: #eeeeee,
  white: #ffffff,
);
