.slider {
  position: relative;
  margin-top: -110px;
}

.slider__item {
  position: relative;
  z-index: 1;

  display: none;

  &--show {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto) 1fr;
  }

  &::after {
    position: absolute;
    top: 34px;
    right: 457px;

    content: '';
    display: block;
    width: 100px;
    height: 7px;
    background-color: $white;
  }
}

.slider__image-wrap {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 5;
}

.slider__item {
  
  & .slider__image-wrap {
    margin: 0 auto;
  }

  &:nth-child(2) .slider__image-wrap {
    margin: 0 auto;
    margin-top: 10px;
  }

  &:nth-child(3) .slider__image-wrap {
    margin-top: 60px;
  }
}

.slider__title-wrap {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.slider__desc-wrap {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.slider__more-wrap {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.slider__feature-wrap {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}

.slider .slider__title {
  margin: 0;
  margin-top: 75px;
  padding: 0;
  padding-left: 20px;

  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.17px;
}

.slider .slider__count {
  position: absolute;
  top: -20px;
  right: 45px;
  z-index: -1;

  display: inline-block;

  font-size: 179px;
  line-height: 179px;
  letter-spacing: 0.36px;
  color: $white;
}

.slider .slider__desc {
  margin: 0;
  margin-top: 20px;
  padding: 0;
  padding-left: 20px;

  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.15px;
  color: $dark;
}

.slider__feature {
  width: 100%;
  box-sizing: border-box;
  margin-top: 40px;
  padding-left: 20px;
}

.slider__feature tbody {
  display: flex;
}

.slider tr {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  margin-right: 75px;
}

.slider__item:nth-child(3) tr {
  margin-right: 40px;
}

.slider th {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  letter-spacing: 0.13px;
  color: $dark;
}

.slider td {
  margin-top: 5px;

  font-family: 'Gilroy', Arial, Helvetica, sans-serif;  
  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.36px;
}

.slider__more {
  margin-left: 20px;
  margin-top: 45px;
}

.slider__dots {
  position: absolute;
  top: 325px;
  right: 85px;
  z-index: 2;
  
  display: flex;
  justify-content: space-between;
  width: 78px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider__dots input:checked + label::after {
  display: block;
}

.slider__dot {
  position: relative;

  display: block;
  width: 12px;
  height: 12px;

  cursor: pointer;

  &::before {
    content: '';

    position: absolute;
    top: 0;
    left: 0;

    display: block;
    box-sizing: border-box;
    width: 12px;
    height: 12px;

    border: 2px solid #727272;
    border-radius: 50%;
  }

  &::after {
    content: '';

    position: absolute;
    top: 50%;
    left: 50%;

    display: none;
    box-sizing: border-box;
    width: 6px;
    height: 6px;
    margin-top: -3px;
    margin-left: -3px;

    border: 2px solid #727272;
    border-radius: 50%;
  }
}
