.slider__title {
  letter-spacing: 0.17px;
}

.slider__count {
  display: inline-block;

  font-size: 179px;
  line-height: 179px;
  letter-spacing: 0.36px;
  color: $white;
}

.slider__desc {
  letter-spacing: 0.15px;
}
