.page-header {
  width: 1445px;
  margin: 0 auto;
  padding-top: 40px;
}

.page-header .page-header__wrap {
  position: relative;

  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  width: 1160px;
  margin: 0 auto;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 50px;

  background-color: $light-orange;
}

.page-header--main .page-header__wrap {
  padding-bottom: 165px;
}

.page-header__logo-wrap {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-top: -17px;
  margin-left: -10px;
}

.page-header__search-wrap {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  align-self: center;
  margin-top: 10px;
}

.page-header__user-wrap {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  align-self: center;
  margin-top: 10px;
}

.page-header__nav-wrap {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  margin-top: 28px;
}
