<link rel="preload" href="fonts/gilroyextrabold.woff" as="font">
<link rel="preload" href="fonts/gilroyextrabold.woff2" as="font">
<link rel="preload" href="fonts/gilroylight.woff" as="font">
<link rel="preload" href="fonts/gilroylight.woff2" as="font">
<link rel="preload" href="fonts/OpenSans-Regular.woff" as="font">
<link rel="preload" href="fonts/OpenSans-Regular.woff2" as="font">
<link rel="preload" href="fonts/OpenSans-Light.woff" as="font">
<link rel="preload" href="fonts/OpenSans-Light.woff2" as="font">
