<link rel='stylesheet preload' href='css/main.min.css' as='style' crossorigin >
<link rel='preload' href='fonts/GilroyExtraBold.woff' as='font' type='font/woff' crossorigin >
<link rel='preload' href='fonts/GilroyExtraBold.woff2' as='font' type='font/woff2' crossorigin >
<link rel='preload' href='fonts/gilroylight.woff' as='font' type='font/woff' crossorigin >
<link rel='preload' href='fonts/gilroylight.woff2' as='font' type='font/woff2' crossorigin >
<link rel='preload' href='fonts/OpenSans-Regular.woff' as='font' type='font/woff' crossorigin >
<link rel='preload' href='fonts/OpenSans-Regular.woff2' as='font' type='font/woff2' crossorigin >
<link rel='preload' href='fonts/OpenSans-Light.woff' as='font' type='font/woff' crossorigin >
<link rel='preload' href='fonts/OpenSans-Light.woff2' as='font' type='font/woff2' crossorigin >
