<!-- @@master layouts/layout.html {"title":"Главная"} -->
<!-- @@block content -->
@@include('../blocks/modules/header/header.html', { "header":{ "class":"page-header page-header--main" }, "logo":{ "href":"" } })
<main class="page-main">
  <h1 class="visually-hidden">Главная страница Device</h1>
  <section class="page-main__slider slider">
    <h2 class="visually-hidden">Наши лучшие предложения</h2>
    <div class="slider__wraper">
      <article class="slider__item slider__item--show">
        <div class="slider__title-wrap">
          <h3 class="slider__title">Делай селфи, <br> как Бен Стиллер!</h3>
        </div>
        <span class="slider__count">01</span>
        <div class="slider__desc-wrap"><p class="slider__desc">Самая длинная палка для селфи доступна в нашем магазине.
          <br>Восемь (Восемь, Карл!) метров длиной и весом всего 5 килограмм.</p></div>
        <div class="slider__image-wrap">
          <picture>
            <source type="image/webp" srcset="img/slider-1.webp 1x,img/slider-1@2x.webp 2x,img/slider-1@3x.webp 3x">
            <img class="slider__image" src="img/slider-1.png" srcset="img/slider-1@2x.png 2x,img/slider-1@3x.png 3x" alt="Палка для селфи">
          </picture>
        </div>
        <div class="slider__more-wrap"><a class="slider__more button button--more" href="#">Подробнее</a></div>
        <div class="slider__feature-wrap">
          <table class="slider__feature">
            <caption class="visually-hidden">Характеристики</caption>
            <tr>
              <th>Длина палки</th>
              <td>8,5 м</td>
            </tr>
            <tr>
              <th>Вес палки</th>
              <td>5 кг</td>
            </tr>
            <tr>
              <th>Материал</th>
              <td>Карбон</td>
            </tr>
          </table>
        </div>
      </article>
      <article class="slider__item">
        <div class="slider__title-wrap">
          <h3 class="slider__title">Худеем <br> правильно!</h3>
        </div>
        <span class="slider__count">02</span>
        <div class="slider__desc-wrap">
          <p class="slider__desc">Мотивирующие фитнес-браслеты помогут найти в себе силы <br> не пропускать занятия и соблюдать диету.</p>
        </div>
        <div class="slider__image-wrap">
          <picture>
            <source type="image/webp" srcset="img/slider-2.webp 1x,img/slider-2@2x.webp 2x,img/slider-2@3x.webp 3x">
            <img class="slider__image" src="img/slider-2.png" srcset="img/slider-2@2x.png 2x,img/slider-2@3x.png 3x" alt="Палка для селфи">
          </picture>
        </div>
        <div class="slider__more-wrap">
          <a class="slider__more button button--more" href="#">Подробнее</a>
        </div>
        <div class="slider__feature-wrap">
          <table class="slider__feature">
            <caption class="visually-hidden">Характеристики</caption>
            <tr>
              <th>Без подзарядки</th>
              <td>48 часов</td>
            </tr>
          </table>
        </div>
      </article>
      <article class="slider__item">
        <div class="slider__title-wrap">
          <h3 class="slider__title">Порхает как бабочка, <br> жалит как пчела!</h3>
        </div>
        <span class="slider__count">03</span>
        <div class="slider__desc-wrap">
          <p class="slider__desc">Этот обычный, на первый взгляд, квадрокоптер оснащен <br> мощным лазером, замаскированным под стандартную камеру.</p>
        </div>
        <div class="slider__image-wrap">
          <picture>
            <source type="image/webp" srcset="img/slider-3.webp 1x,img/slider-3@2x.webp 2x,img/slider-3@3x.webp 3x">
            <img class="slider__image" src="img/slider-3.png" srcset="img/slider-3@2x.png 2x,img/slider-3@3x.png 3x" alt="Палка для селфи">
          </picture>
        </div>
        <div class="slider__more-wrap">
          <a class="slider__more button button--more" href="#">Подробнее</a>
        </div>
        <div class="sldier__feature-wrap">
          <table class="slider__feature">
            <caption class="visually-hidden">Характеристики</caption>
            <tr>
              <th>Дальность полета</th>
              <td>800 м</td>
            </tr>
            <tr>
              <th>Радиус поражения</th>
              <td>50 м</td>
            </tr>
          </table>
        </div>
      </article>
    </div>
    <ul class="slider__dots">
      <li>
        <input id="slider-dot-1" class="visually-hidden" type="radio" name="slider" checked>
        <label class="slider__dot" for="slider-dot-1"></label>
      </li>
      <li>
        <input id="slider-dot-2" class="visually-hidden" type="radio" name="slider">
        <label class="slider__dot" for="slider-dot-2"></label>
      </li>
      <li>
        <input id="slider-dot-3" class="visually-hidden" type="radio" name="slider">
        <label class="slider__dot" for="slider-dot-3"></label>
      </li>
    </ul>
  </section>
  <section class="page-main__popular popular">
    <h2 class="visually-hidden">Популярные товары</h2>
    <ul class="popular__list">
      <li class="popular__item"><a class="popular__link" href="#">Виртуальная <br> реальность</a>
      </li>
      <li class="popular__item"><a class="popular__link" href="#">Моноподы <br> для селфи</a>
      </li>
      <li class="popular__item"><a class="popular__link" href="#">Экшн-камеры</a>
      </li>
      <li class="popular__item"><a class="popular__link" href="#">Фитнес-браслеты</a>
      </li>
      <li class="popular__item"><a class="popular__link" href="#">Умные часы</a>
      </li>
      <li class="popular__item"><a class="popular__link" href="#">Квадрокоптеры</a>
      </li>
    </ul>
  </section>
  <section class="page-main__services services">
    <div class="services__wrap">
      <h2 class="visually-hidden">Сервис</h2>
      <div class="services__tabs-wrap">
        <ul class="services__tabs">
          <li class="services__tab">
            <button class="services__button button button--services button--services-active" type="button">Доставка</button>
          </li>
          <li class="services__tab">
            <button class="services__button button button--services" type="button">Гарантия</button>
          </li>
          <li class="services__tab">
            <button class="services__button button button--services" type="button">Кредит</button>
          </li>
        </ul>
      </div>
      <div class="services__list-wrap">
        <ul class="services__list">
          <li class="services__item services__item--show">
            <h3 class="services__subtitle">Доставка</h3>
            <p class="services__text">Мы с удовольствием доставим ваш товар прямо к вашему
            <br>подъезду совершенно бесплатно! Ведь мы неплохо
            <br>заработаем, поднимая его на ваш этаж.</p>
          </li>
          <li class="services__item">
            <h3 class="services__subtitle">Гарантия</h3>
            <p class="services__text">Если из-за возгорания купленного у нас товара у вас сгорит
            <br>дом — не переживайте, мы выдадим вам новый.
            <br>Товар, не дом, конечно же.</p>
          </li>
          <li class="services__item">
            <h3 class="services__subtitle">Кредит</h3>
            <p class="services__text">Залезть в долговую яму стало проще! Кредитные консультанты
            <br>подберут для вас наиболее выгодные
            <br>условия кредита. Выгодные для нашего банка, разумеется.</p>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="page-main__logotypes logotypes">
    <h2 class="visually-hidden">Логотипы</h2>
    <ul class="logotypes__list">
      <li class="logotypes__item">
        <a class="logotypes__link" href="#"><span class="visually-hidden">Dji</span></a>
      </li>
      <li class="logotypes__item">
        <a class="logotypes__link" href="#"><span class="visually-hidden">Sp Gadgets</span></a>
      </li>
      <li class="logotypes__item">
        <a class="logotypes__link" href="#"><span class="visually-hidden">GoPro</span></a>
      </li>
      <li class="logotypes__item">
        <a class="logotypes__link" href="#"><span class="visually-hidden">Vive</span></a>
      </li>
    </ul>
  </section>
  <section class="page-main__about-us about-us">
    <h2 class="about-us__title">О нас</h2>
    <p class="about-us__text">Огромный выбор гаджетов не оставит равнодушным гика, <br> который есть в каждом из нас.</p>
    <p class="about-us__text">Мы можем доставить ваш товар в самые отдаленные точки <br> России! DEVICE работает со многими транспортными компаниями:</p>
    <ul class="about-us__list">
      <li class="about-us__item">Деловые Линии</li>
      <li class="about-us__item">Автотрейдинг</li>
      <li class="about-us__item">ЖелДорЭкспедиция</li>
    </ul>
    <a class="about-us__button button button--about-us" href="#">Подробнее о нас</a>
  </section>
  <section class="page-main__contacts contacts">
    <h2 class="contacts__title">Контакты</h2>
    <p class="contacts__text">Вы можете забрать товар сами, заехав в наш офис. Заодно, вы сможете
    <br>проверить работоспособность покупки. Всякое бывает.</p>
    <div class="contacts__map map">
      <picture>
        <source type="image/webp" srcset="img/map.webp 1x, img/map@2x.webp 2x,img/map@3x.webp 3x">
        <img class="contacts__image" src="img/map.jpg" srcset="img/map@2x.jpg 2x,img/map@3x.jpg 3x" width="560" height="222" alt="улица Строителей, 15">
      </picture>
    </div>
    <button class="contacts__button button button--contacts">Напишите нам</button>
  </section>
</main>
@@include('../blocks/modules/footer/footer.html', { "footer":{ "class":"page-footer" }, "logo":{ "href":"" } })
@@include('../blocks/modules/popup/write-us.html')
@@include('../blocks/modules/popup/map-popup.html')
<!-- @@close -->
