<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <!-- @@var = title -->
    </title>

    <!-- @@include include/preload.html -->

    <!-- @@include include/seo.html -->

    <!-- @@include include/favicons.html -->

    <link rel="stylesheet" href="css/libs.min.css">
    <link rel="stylesheet" href="css/main.min.css">
    <script>
        document.createElement("picture");
    </script>
</head>

<body>
    <!-- @@placeholder content -->
    <script src="https://api-maps.yandex.ru/2.1/?apikey=1b819b13-046b-44f4-9e20-a817be394b38&lang=ru_RU"></script>
    <script src="js/libs.min.js"></script>
    <script src="js/app.min.js"></script>
</body>

</html>
